:root {
    --main_color: #d100d1; /*主色*/
    --main_font_size: 35px; /*大字體大小*/
    --font_size: 20px; /*字體大小*/
    --secondary_color: rgba(255, 255, 255, 0.75); /*副色*/
    --background_color: rgba(255,255,255,0.4); /*被景色*/
    --black_background_color: rgba(0,0,0,0.3); /*黑背景色*/
    --no_color: rgba(0,0,0,0); /*無色*/
    --font_family: "naikaifont","微軟正黑體","Arial";
}
