@keyframes welcome_animation{
0%{opacity:1;}
8%{opacity:0;}
12%{opacity:0;}
20%{opacity:1;}
}
@keyframes right_background_animation {/*從左到右滑出*/
    0% {
        background-position:right
    }
    100% {
        background-position:left
    }
}
@keyframes left_background_animation {/*從右到左滑出*/
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}
@keyframes fade_out { /*淡出*/
    from {opacity:1;}
    to {opacity:0;}
}
@keyframes fade_in { /*淡入*/
    from {opacity:0;}
    to {opacity:1;}
}