.main_content{
position: fixed;
}
.welcome{
padding:0px;
font-size:20px;
color:var(--main_color);
animation-name: welcome_animation;
animation-duration:5s;
animation-delay:3s;
animation-iteration-count:infinite;
}
.web_link {
font-size:35px;
}
.web_link #web{
font-size:35px;
margin-top:15px;
}