.header{/*標頭*/
position: fixed;
top:0px;
left:0px;
padding:0px;
background-color:rgba(255,255,255,0.5);
width:100vw;
z-index:1;
display:block;
border-bottom:2px solid var(--main_color);
}
.welcome { /*標頭歡迎*/
    position: relative;
    padding: 0px;
    top: 3px;
    left: 8px;
    font-size: 20px;
    color: var(--main_color);
    animation-name: welcome_animation;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.section {/*分區*/
    width: 50vw;
    float: left;
}
.air_block{/*空氣牆*/
    height:60px;
    width:100vw;
}
.more{/*更多*/
position:fixed
}
.title { /*標題*/
    display: table;
    margin: 3px 10px;
    padding: 3px 50px 3px 3px;
    background-image: linear-gradient(to right,var(--secondary_color),var(--background_color),var(--no_color),var(--no_color),var(--no_color));
    background-size: 200%,100%;
    border-left: 3px solid var(--main_color);
    animation-name: right_background_animation;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s
}
.setting { /*設置*/
    position: absolute;
    top: 5px;
    right: 5px;
}
.main_content { /*主內容+捲軸*/
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}
#right_air {
    display: none
}
@media screen and (max-width:600px) and (min-width:451px) { /*手機螢幕縮放*/
    .section {
        width: 50vw;
        height: auto;
        box-sizing: border-box;
    }

    .title {
        border-radius: 5px;
        background-image: none;
        background-color: var(--background_color);
        border: 2px solid var(--main_color);
        padding: 2px;
    }
}
@media screen and (max-width:930px) and (min-width:601px) { /*小螢幕縮放*/
    .air_block { /*空氣牆*/
        position: relative;
        box-sizing: border-box;
        display:none;
        height: 60px;
        width: 50vw
    }
    .header {
        position: fixed;
        box-sizing: border-box;
        width: 48vw;
        right: 0px;
        top: 0px;
        left: auto;
        margin: 1vw;
        border: 2px solid var(--main_color);
        border-radius: 10px
    }
    .section {
        width: 48vw;
        position: relative;
        top: 1vh;
        margin:0;
        box-sizing: border-box;
    }
    #right_air {
        height: 65px;
        position: relative;
        display: block;
    }
}
@media screen and (max-width:450px) { /*窄螢幕縮放*/
    .title {
        border-radius: 5px;
        background-image: none;
        background-color: var(--background_color);
        border: 2px solid var(--main_color);
        padding: 2px;
    }
    .air_block { /*空氣牆*/
        position: relative;
        box-sizing: border-box;
        display: block;
        height: 60px;
        width: 50vw
    }

    .section {
        width: 100vw;
        position: relative;
        top: 1vh;
        margin: 1vw;
        box-sizing: border-box;
    }

    #right_air {
        height: 65px;
        position: relative;
        display: none;
    }
}