html {
    background-image: url(../images/background_blur.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
}
.more{/*更多*/
position:fixed
}
.air{
    height:1px;
    width:1px;
}
.right_section { /*右邊內容*/
    float: left;
    width: 30vw;
}

.left_section { /*左邊內容*/
    float: left;
    width: 20vw;
}
.web_link { /*網頁連結(主)*/
    font-size: var(--main_font_size);
}

.web { /*網頁連結(文字)*/
    font-size: var(--main_font_size);
    margin-top: 15px;
}

.link { /*右側界面*/
    position: absolute;
    width: 30vw;
    opacity: 0;
    transition: opacity 300ms ease-out;
}
.main_section { /*中間內容*/
    float: left;
    width: 50vw;
    transition: color 250ms,background-color 400ms,opacity 800ms ease-out;
    color: #d400d4;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
    height: auto
}
.mid_content { /*中間內容*/
    text-decoration: none;
    padding: 5px 2px;
    border: 2px solid rgba(212,0,212,1);
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    position: relative
}
.main_content:after { /*三段式內容*/
    content: "";
    display: table;
    clear: both;
}
.main_content{/*主內容*/
position:fixed;
top:0px;
left:0px;
z-index:0;
}
.welcome{/*標頭歡迎*/
position:relative;
padding:0px;
top:3px;
left:8px;
font-size:20px;
color:var(--main_color);
animation-name: welcome_animation;
animation-duration:5s;
animation-delay:3s;
animation-iteration-count:infinite;
}
.web_link { /*網頁連結(主)*/
    font-size: var(--main_font_size);
}
.web{/*網頁連結(文字)*/
font-size:var(--main_font_size);
margin-top:15px;
}
.link { /*右側界面*/
    position: absolute;
    width: 30vw;
    opacity: 0;
    transition: opacity 300ms ease-out;
}
.account { /*帳號*/
    width: 280px;
    height: 250px;
    position: relative;
    float:right;
    margin: 15px 30px 0 0;
}
.account::before { /*帳號背景*/
    content:"";
    width: 25vw;
    height: 250px;
    min-width:280px;
    position: relative;
    float:right;
    background-image: linear-gradient(to left,var(--secondary_color),var(--background_color),var(--no_color),var(--no_color),var(--no_color));
    background-size: 200% 100%;
    border-right: 3px solid var(--main_color);
    animation-name: left_background_animation;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s
}
.avatar {/*頭像*/
border: 2px solid var(--main_color);
border-radius:10px;
position:absolute;
right:15px;
top:10px;
}
.description { /*內容*/
    position: absolute;
    bottom: 6px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    padding: 1px 2px;
    color: #d400d4;
    border: 2px solid rgba(212,0,212,1);
    background-color: rgba(255,255,255,0.8);
    border-radius:5px;
}
.name {/*名稱*/
position:absolute;
bottom:8px;
right:15px;
padding:2px;
}
#discord_tag { /*discord名稱*/
    user-select: none;
    display: none;
    color: #d400d4;
    border: 2px solid rgba(212,0,212,1);
    background-color: var(--background_color);
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    right: 15px;
    padding: 2px;
    font-size: var(--font_size);
}
@media screen and (max-width:600px) { /*手機螢幕縮放*/
    .air_block {
        height: 55px
    }

    .main_section {
        width: 98vw;
        box-sizing: border-box;
        margin: 1vw
    }
    .link {
        width: 100%
    }

    #web_link_title::after {
        content: "|將在最下方顯示|";
        font-size: 65%;
    }
    .left_section {
        width: 98vw;
        box-sizing: border-box;
        overflow-y: auto;
        margin: 0 1vw;
    }

    .right_section {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
    }
    .account {
        padding: 0px;
        width: 230px;
    }
    .description {
        left:0
    }
    .account::before { /*帳號背景*/
        content: "";
        border-radius: 5px;
        width: 25vw;
        height: 250px;
        min-width: 280px;
        position: relative;
        float: right;
        background-image: linear-gradient(to left,var(--secondary_color),var(--background_color),var(--no_color),var(--no_color),var(--no_color));
        background-size: 200% 100%;
        border-right: 3px solid var(--main_color);
        animation-name: left_background_animation;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-delay: 0.2s;
        padding:5px;
        left:3px;
        bottom:3px
    }
}

@media screen and (max-width:930px) and (min-width:601px) { /*小螢幕縮放*/
    .link {
    width: 100%;
    }
    .header {
        position: fixed;
        box-sizing: border-box;
        width: 48vw;
        right: 0px;
        top: 0px;
        left: auto;
        margin: 1vw;
        border: 2px solid var(--main_color);
        border-radius: 10px
    }

    .main_section {
        width: 50vw;
        height: 48vh;
        margin: 0;
        box-sizing: border-box;
        position: fixed;
        left: 1vw;
        bottom: 1vh;
    }

    .left_section {
        width: 50vw;
        height: 49vh;
        margin: 0 0 1vh;
        position: fixed;
        top: 1vh;
        left: 5px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .right_section {
        width: 50vw;
        height: 100vh;
        position: fixed;
        right: 5px;
        box-sizing: border-box;
        overflow-y:auto;
        overflow-x:hidden
    }
}
.home_setting {
    position: fixed;
    top: 5px;
    right: 5px;
    opacity:0
}
.home_setting_touch {
    position: fixed;
    top:0px;
    right:0px;
    width:130px;
    height:100px;
}
.home_setting_touch:hover .home_setting {
    opacity: 1
}