html{
  background-image:url("../images/background.png");
  background-position:left top;
}
body{
  padding:5px;
  margin:0px;
  font-family:"內海字體","微軟正黑體","Arial";
  font-color:var(--main_color);
  color:var(--main_color);
}
body:hover{
 
}
hr{/*線條頭*/
background-color:var(--main_color);
}/*線條尾*/
p{/*正常文字*/
font-size:20px;
margin:0px;
margin-left:10px;
}
ul{/*表格總體*/
margin:5px;
}
li{/*無序表格*/
list-style-type:none;
}
a{/*超連結頭*/
transition:color 250ms,background-color 400ms,opacity 800ms ease-out;
text-decoration:none;
padding:1px 2px;
color:#d400d4;
border: 2px solid rgba(212,0,212,0.5);
background-color:rgba(255,255,255,0.5);
}
a:hover{
color:#fff;
background-color:rgba(0,0,0,0.4);
}
a:active {
opacity:0

}/*超連結尾*/
button{
font-family:"內海字體"}