@font-face {/*字體*/
    font-family: naikaifont;
    src: url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.63/webfont/NaikaiFont-Regular-Lite.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.63/webfont/NaikaiFont-Regular-Lite.woff) format("woff");
}

body {
    padding: 5px;
    margin: 0px;
    font-family: "naikaifont","微軟正黑體","Arial";
    color: var(--main_color);
}

hr { /*線條頭*/
    background-color: var(--main_color);
    border: none;
}
/*線條尾*/
p { /*正常文字*/
    font-size: 20px;
    margin: 0px;
    margin-left: 10px;
}

ul { /*表格總體*/
    margin: 5px;
}

li { /*無序表格*/
    list-style-type: none;
}

a { /*超連結正常*/
    transition: color 250ms,background-color 400ms,opacity 800ms ease-out;
    text-decoration: none;
    padding: 1px 2px;
    color: #d400d4;
    border: 2px solid rgba(212,0,212,1);
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px
}

    a:hover { /*超連結觸碰*/
        color: #fff;
        background-color: rgba(0,0,0,0.4);
    }

    a:active { /*超連結啟動*/
        border: solid black 2px;
    }

button { /*按鈕正常*/
    transition: color 250ms,background-color 400ms,opacity 800ms ease-out;
    text-decoration: none;
    padding: 1px 2px;
    color: #d400d4;
    border: 2px solid rgba(212,0,212,1);
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    font-size: inherit;
    font-family: inherit;
}

    button:hover { /*按鈕觸碰*/
        color: #fff;
        background-color: rgba(0,0,0,0.4);
    }

    button:active { /*按鈕啟動*/
        border: solid black 2px;
    }

h1 { /*大標題*/
    color: var(--main_color);
    padding: 2px;
    font-weight: normal;
}
h2 { /*2標題*/
    font-weight: lighter;
}
