div{font-size:5pt;
 font-family:"內海字體","微軟正黑體","Arial";
 font-color:#800080;
 color:#800080;
} 
li{
list-style-type:circle;
}
a{
margin:2px;
color:#800080;
border: 5px solid #800080;
}
a:hover{
color:#fff
}