html {
    background-image: url(../images/background.png);
    width: 100vw;
    height: 100vh;
    background-size:cover;
}
.setting_item {
    position: relative;
    top: 10px;
    left: 15px;
    width: 95%;
    height: 200px;
    background-image: linear-gradient(to right,var(--secondary_color),var(--background_color),var(--no_color),var(--no_color),var(--no_color));
    background-size: 200%;
    margin-bottom: 15px;
    border-left: 3px solid var(--main_color);
    animation-name: right_background_animation;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-delay: 0.4s
    
}
.setting_title {
    position: relative;
    margin: 15px 0 0 0;
    top: 5px;
    font-size: 50px;
    padding: 0 10px 0 0
}
.setting_introduction {
    position:relative;
    margin:10px 5px;
}
.setting_text_input {
    position: relative;
    margin: 0 5px;
    background-color: var(--no_color);
    color: var(--main_color);
    border-radius: 5px;
    width: 240px;
    height: 50px;
    font-size: 50px;
    font-family: var(--font_family);
    border: 2px var(--main_color) solid;
}
.setting_change_input {
    position: relative;
    margin: 0 5px;
    background-color: var(--no_color);
    background-image: linear-gradient(to right,var(--main_color),var(--main_color),var(--main_color),var(--no_color),var(--no_color),var(--no_color));
    background-size: 250%;
    border-radius: 5px;
    font-size: 45px;
    font-family: var(--font_family);
    border: 2px var(--main_color) solid;
}
.setting_input:hover {
    border-color: rgb(0, 0, 0);
}
.setting_input {
    transition: all ease-in-out 400ms;
    float: left;
}
.setting_normal {
    background-position: right;
    color: var(--main_color);
}
.setting_home {
    background-position: left;
    color: rgb(255,255,255);
    background-color: var(--no_color);
}
.setting_success {
    opacity: 0;
    display: inline;
    position: absolute;
    bottom: 1px;
    left:0;
    margin-left:5px;
    border-radius: 5px;
    color: var(--main_color);
    font-size: 20px;
    font-family: var(--font_family);
    border-width: 3px 0 3px;
    user-select: none;
    border: var(--main_color) solid;
    transition: opacity ease-out 0.4s;
}
.success_opacity {
    opacity: 1
}
.new_tab {
    float: left;
    position: relative;
    font-size: 22px;
    user-select: none;
}
@media screen and (max-width:570px) { /*窄螢幕縮放*/
    .title {
            border-radius: 5px;
            background-image: none;
            background-color: var(--background_color);
            border: 2px solid var(--main_color);
            padding: 2px;
        }

        .air_block { /*空氣牆*/
            position: relative;
            box-sizing: border-box;
            display: block;
            height: 60px;
            width: 50vw
        }

        .section {
            width: 100vw;
            position: relative;
            top: 1vh;
            margin: 1vw;
            box-sizing: border-box;
        }

        #right_air {
            height: 65px;
            position: relative;
            display: none;
        }
    }
